<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="true" />
		<!--<setting name="lazyLoadingEnabled" value="true" />-->
		<setting name="aggressiveLazyLoading" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<!-- <setting name="autoMappingBehavior" value="false" /> -->
		<setting name="useGeneratedKeys" value="false" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="5000" />
	</settings>
	<typeAliases>
		<typeAlias type="com.khan.opensns.model.Feed" alias="Feed"/>
		<typeAlias type="com.khan.opensns.model.FeedContent" alias="FeedContent"/>
		<typeAlias type="com.khan.opensns.model.FeedReply" alias="FeedReply"/>
		<typeAlias type="com.khan.opensns.model.Friend" alias="Friend"/>
		<typeAlias type="com.khan.opensns.model.Role" alias="Role"/>
		<typeAlias type="com.khan.opensns.model.User" alias="User"/>
		<typeAlias type="com.khan.opensns.model.UserInfo" alias="UserInfo"/>
		<typeAlias type="com.khan.opensns.api.dto.Criteria" alias="Criteria"/>
	</typeAliases>
</configuration>
